<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body ng-app="todoApp">
    <div ng-controller="ListController as vm">
      <h1>{{ vm.list.name }}</h1>

      <hr>

      <!-- add tasks -->

      <input placeholder="new task"
             ng-model="vm.currentTask.name">
      <button ng-click="vm.add()">Add</button>

      <hr>

      <div>
        <button>All Complete/Incomplete</button>
        <button ng-click="vm.changeFilter()"
                ng-class="{ active: !ctrl.currentFilter }">All <span>{{ vm.list.tasks.length }}</span></button>
        <button ng-click="ctrl.changeFilter(ctrl.filter.remaining)"
                ng-class="{ active: ctrl.currentFilter == ctrl.filter.remaining }">Incomplete <span>n</span></button>
        <button ng-click="ctrl.changeFilter(filter.done)"
                ng-class="{ active: ctrl.currentFilter == ctrl.filter.done }">Complete <span>n</span></button>
        <button>Delete all completed tasks</button>
      </div>

      <hr>

      <div ng-repeat="task in vm.list.tasks | orderBy: '$index' ">
        <p>
          {{ $index + 1 }}: {{ task.name }} - completed: {{ task.complete }}
        </p>
      </div>

    </div>



    <script src="./js/angular.js"></script>
    <script src="./js/app/app.js"></script>
    <script src="./js/app/controllers/ListController.js">
    <script src="js/app/controllers/ToolBarController.js">

    </script>
  </body>
</html>
