<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body ng-app="todoApp">
    <div ng-controller="ListController as vm">
      <h1>{{ vm.list.name }}</h1>

      <hr>

      <div ng-repeat="task in vm.list.tasks | orderBy: '$index' ">
        <p>
          {{ $index + 1 }}: {{ task.name }} - completed: {{ task.complete }}
        </p>
      </div>

      <hr>

      <form ng-submit="ctrl.addTodo()">
        <input
            type="text"
            required placeholder="new task"
            ng-model="newTitle">
        <button type="submit">Add</button>
      </form>

    　<hr>

      <div>
        <button>All Complete/Incomplete</button>
        <button ng-click="ctrl.changeFilter()"
                ng-class="{ active: !ctrl.currentFilter }">All <span>{{ ctrl.todos.length }}</span></button>
        <button ng-click="ctrl.changeFilter(ctrl.filter.remaining)"
                ng-class="{ active: ctrl.currentFilter == ctrl.filter.remaining }">Incomplete <span>n</span></button>
        <button ng-click="ctrl.changeFilter(filter.done)"
                ng-class="{ active: ctrl.currentFilter == ctrl.filter.done }">Complete <span>n</span></button>
        <button>Delete all completed tasks</button>
      </div>

      <hr>

      <ul>
        <li class="todo-item"
            ng-repeat="todo in ctrl.todos | filter: ctrl.currentFilter"
            ng-class="{ done: todo.done}">
          <form>
            <input type="checkbox" ng-model="todo.done">
            <p class="todo-title">{{ todo.title }}</p>
            <span>
              <button type="reset">Delete</button>
            </span>
          </form>
        </li>
      </ul>



      <!-- <li class="todo-item done">
        <form>
          <input type="checkbox" checked>
          <span class="todo-title">Completed Tasks</span>
          <button type="reset">Delete</button>
        </form>
      </li>

      <li class="todo-item editing">
        <form>
          <input type="checkbox">
          <input type="text" required value="editing tasks">
        </form>
      </li> -->

    </div>



    <script src="./js/angular.js"></script>
    <script src="./js/app/app.js"></script>
    <script src="./js/app/controllers/ListController.js">
    <script src="js/app/controllers/ToolBarController.js">

    </script>
  </body>
</html>
